
// ----------------------- Colors
$text-color: #262626;
$body-background-color: #ffffff;

$choco: rgba(61, 44, 46, 1);
$cream: rgba(136, 111, 104, 1);
$grey: rgba(66, 76, 85, 1);
$seashell: rgba(245, 237, 240, 1);
$light-grey: rgba(209, 204, 220, 1);

// ----------------------- Fonts
$headline-font: 'Montserrat', sans-serif;
$text-font:'Lato', sans-serif;
$accent-font: 'Caveat', cursive, sans-serif;



// ----------------------- Sizes

