html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #262626;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-block: 1.5em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}
a:hover {
  color: #f5edf0;
}

label {
  color: #424c55;
}

.form-control:focus,
.form-select:focus {
  border-color: #886f68;
  box-shadow: 0 0 0 0.25rem rgba(136, 111, 104, 0.3);
}

.navbar {
  background-color: #886f68;
}

.app-button {
  background-color: #886f68;
  padding-inline: 1em;
  padding-block: 0.5em;
  border: none;
  border-radius: 8px;
  color: #f5edf0;
  transition: transform 0.3s ease;
}
.app-button:hover {
  background-color: #3d2c2e;
  transform: scale(0.9);
}

.button-set {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  justify-content: flex-end;
}
.button-set button,
.button-set a {
  background: inherit;
  color: #3d2c2e;
  border: none;
  text-decoration: underline;
}
.button-set button:hover,
.button-set a:hover {
  font-weight: bold;
  text-decoration: none;
}

.sub-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2em;
  color: #424c55;
}

.custom-err-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-err-container h3 {
  text-align: center;
}

.err-page-bnt {
  margin-top: 2em;
}