{% extends "base.html" %}
{% block content %}

<h2>400 Bad Request</h2>

<div class="custom-err-container">
    <div>
        <h3>Oops! Something went wrong on our end...</h3>
        <p>We're unable to process your request at the moment. This may be due to invalid data or a technical glitch.
        </p>
        <p>Please double-check your input, and if the problem persists, reach out to our support team for assistance.
        </p>
    </div>

    <div class="err-page-bnt">
        <a href="{{ url_for('spend_snap') }}" class="app-button" role="button">Return to Home</a>
    </div>
</div>
{% endblock %}