{% extends "base.html" %}
{% block content %}

<h2>SpendSnap App</h2>

<div>
    <form method="GET" action="{{url_for('spend_snap')}}">
        <div class="mb-3">
            <label for="period" class="form-label visually-hidden">Choose Month</label>
            <select name="period" id="period" class="form-select">
                <option value="">--Current Month--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="all">--All time--</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<div>
    <ul>
        {% for expense in expenses %}
        <li>id {{expense.id}}</li>
        <!-- <li>{{expense.origin}}</li> -->
        <!-- <li>{{expense.main_category}}</li> -->
        <li class="row">
            <div class="col">Category:</div>
            <div class="col">{{expense.sub_category}}</div>
        </li>
        <li class="row">
            <div class="col">Amount:</div>
            <div class="col">{{expense.amount}} usd</div>
        </li>
        <li class="row">
            <div class="col">Note:</div>
            <div class="col">{{expense.description}}</div>
        </li>
        <li class="row">
            <div class="col">Date:</div>
            <div class="col">{{expense.date}}</div>
        </li>

        <li>
            <div class="button-set">
                <form method="POST" action="{{url_for('delete_expense', expense_id=expense.id)}}" id="deleteForm">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
                <!-- <a href="{{url_for('update_expense', expense_id=expense.id)}}" data-bs-toggle="modal" data-bs-target="#updateModal{{expense.id}}">Update</a> -->
                <!-- <a href="" id="update-link" data-expense-id="{{expense.id}}" data-bs-toggle="modal" data-bs-target="#updateModal">Update</a> -->
                <!-- {% set update_url = url_for('update_expense', expense_id=expense.id) %} -->
                <button class="update-button" data-expense-id="{{expense.id}}" data-bs-toggle="modal" data-bs-target="#updateModal{{expense.id}}">Update</button>
            </div>
        </li>
        <hr>

        <!-- update modal -->
        <div class="modal fade" id="updateModal{{expense.id}}" tabindex="-1" aria-labelledby="updateModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Update Expense?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <!-- <button type="button" class="btn btn-primary">Yes</button> -->
                        <a href="{{url_for('update_expense', expense_id=expense.id)}}" id="modalUpdateButton"
                            class="btn btn-primary">Yes</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure want to delete expense with ID {{expense.id}}? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="deleteConfirmButton" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>

<script>
     document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.delete-button').forEach((button) => 
        button.addEventListener('click', (event) => {
            event.preventDefault()

            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            deleteModal.show();
        })
    );

    document.getElementById('deleteConfirmButton').addEventListener('click', () => {
        document.getElementById('deleteForm').submit();
    })

})
</script>

{% endblock %}


<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        let updateButtons = document.querySelectorAll('.update-button');
        let modalUpdateButton = document.getElementById('modalUpdateButton');
        let expenseId;

        updateButtons.forEach(function(updateButton) {
            updateButton.addEventListener('click', function() {
                expenseId = Number(this.getAttribute('data-expense-id'));
                console.log('Attribute is ' + expenseId)
                console.log(typeof(expenseId))

                modalUpdateButton.href = "{{url_for('update_expense', expense_id)}}/" + expenseId;                
            });
        });          
    })

</script> -->