{% extends "base.html" %}
{% block content %}

<h1>SpendSnap App</h1>
<div>
    <ul>
        {% for expense in expenses %}
        <li>{{expense.id}}</li>
        <li>{{expense.origin}}</li>
        <li>{{expense.main_category}}</li>
        <li>{{expense.sub_category}}</li>
        <li>{{expense.amount}}</li>
        <li>{{expense.description}}</li>
        <li>{{expense.date}}</li>

        <form method="POST" action="{{url_for('delete_expense', expense_id=expense.id)}}">
            <button type="submit">Delete this expense</button>
        </form>
        
        <hr>
        {% endfor %}
    </ul>
</div>
{% endblock %}